<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG Dadadriver suite"  >
    <!-- suite name="Suite Name" -->
    <suite-files>
        <suite-file path="./negative_suite.xml" />
        <suite-file path="./positive_suite.xml" />
    </suite-files>
</suite>